version: "3.7"

services:
  alertmanager:
    container_name: alertmanager
    image: "{{ alertmanager__image }}"
    user: root
    volumes:
      - ./alertmanager.yml:/etc/alertmanager.yml:ro
    restart: unless-stopped
    networks:
      - "{{ docker__prometheus_network }}"
    ports:
      - "{{ alertmanager__port }}:9093"
    logging:
      driver: json-file
      options:
        max-file: "1"
        max-size: "50m"
    command: --config.file=/etc/alertmanager.yml --log.level=debug

networks:
  {{ docker__prometheus_network }}:
    external: true
