version: "3.7"

services:
  grafana:
    container_name: grafana
    image: "{{ grafana__image }}"
    user: "{{ grafana__user_id }}"
    environment:
      GF_SERVER_DOMAIN: "{{ grafana.domain }}"
      GF_SERVER_ROOT_URL: "http://{{ grafana.domain }}"
      GF_AUTH_LDAP_ENABLED: "{{ grafana__ldap_enabled }}"
      GF_AUTH_ANONYMOUS_ENABLED: "{{ grafana__anonymous_enabled }}"
      GF_AUTH_ANONYMOUS_ORG_ROLE: "{{ grafana__anonymous_org_role }}"
    volumes:
      - "{{ docker_deployment__volume_path }}:/var/lib/grafana"
{% if grafana__ldap_enabled %}
      - "./ldap.toml:/etc/grafana/ldap.toml"
{% endif %}
    labels: {{ grafana.docker.labels | default(grafana__default_labels) | to_json }}
    networks: {{ grafana.docker.networks | default([]) | to_json }}
    restart: unless-stopped
{% if grafana.port is defined %}
    ports:
      - "{{ grafana.port }}:3000"
{% endif %}
    logging:
      driver: json-file
      options:
        max-file: "1"
        max-size: "50m"

{% if grafana.docker.networks is defined %}
networks:
  {% for network in grafana.docker.networks %}
{{ network | indent(width=2) }}:
    external: true
  {% endfor %}
{% endif %}
