[[servers]]
host = "{{ ldap__host }}"
port = {{ ldap__port }}

bind_dn = "{{ ldap__binddn }}"
bind_password = "{{ ldap__bindpw }}"

search_filter = "(&(uid=%s)(memberOf={{ ldap__groups.services }}))"
search_base_dns = ["{{ ldap__users_dn }}"]

[[servers.group_mappings]]
group_dn="{{ grafana.access_groups.admin }}"
org_role = "Admin"

[[servers.group_mappings]]
group_dn="{{ grafana.access_groups.editor }}"
org_role = "Editor"

[[servers.group_mappings]]
group_dn="{{ grafana.access_groups.viewer }}"
org_role = "Viewer"

[servers.attributes]
name = "givenName"
surname = "sn"
username = "uid"
member_of = "memberOf"
email = "mail"
