{% if db__postgres_backup_enabled == true %}
POSTGRES_MODE={{ db__postgres_postgres_mode }}
AWS_REGION={{ db__postgres_s3_region }}
AWS_ACCESS_KEY_ID={{ db__postgres_s3_access_key }}
AWS_SECRET_ACCESS_KEY={{ db__postgres_s3_secret_key }}
WALE_S3_PREFIX={{ db__postgres_s3_prefix }}
WALG_DELETE_RETAIN={{ db__postgres_delete_retain }}
WALG_BASE_BACKUP_IN={{ db__postgres_base_backup_in }}
{% endif %}
