{% if postgres.backup_enabled == true %}
POSTGRES_MODE={{ postgres.mode }}
AWS_REGION={{ postgres.s3_region }}
AWS_ACCESS_KEY_ID={{ postgres.s3_access_key }}
AWS_SECRET_ACCESS_KEY={{ postgres.s3_secret_key }}
WALE_S3_PREFIX={{ postgres.s3_prefix }}
WALG_DELETE_RETAIN={{ postgres.delete_retain }}
WALG_BASE_BACKUP_IN={{ postgres.base_backup_in }}
{% endif %}
