modules:
  icmp:
    prober: icmp
    timeout: 5s
  http:
    prober: http
    timeout: 5s
    http:
      valid_status_codes: [200, 401, 403, 404]
      tls_config:
        insecure_skip_verify: true
  tcp:
    prober: tcp
    timeout: 5s
    tcp: {}
