version: "3.7"

services:
  blackbox-exporter:
    container_name: blackbox-exporter
    image: "{{ blackbox__image }}"
    user: root
    volumes:
      - ./blackbox.yml:/etc/blackbox.yml:ro
    restart: unless-stopped
    ports:
      - "{{ blackbox_exporter__port }}:9115"
{% if blackbox_exporter is defined and blackbox_exporter.docker is defined %}
    extra_hosts: {{ blackbox_exporter.docker.extra_hosts | default([]) | to_json }}
{% endif %}
    logging:
      driver: json-file
      options:
        max-file: "1"
        max-size: "50m"
    command: --config.file=/etc/blackbox.yml
