<!DOCTYPE mapping SYSTEM "ldap-mapping.dtd">
<mapping>
  <group-mapping teamcityGroupKey="EMPLOYEES" ldapGroupDn="{{ ldap__groups.employees }}"/>
  <group-mapping teamcityGroupKey="ADMINISTRATORS" ldapGroupDn="{{ ldap__groups.teamcity_admin }}"/>
</mapping>
