java.naming.provider.url=ldap://{{ ldap__host }}/{{ ldap__base_dn }}
java.naming.security.principal={{ ldap__binddn }}
java.naming.security.credentials={{ ldap__bindpw }}

teamcity.options.users.synchronize=true
teamcity.options.groups.synchronize=true

teamcity.users.login.filter=(&(uid=$capturedLogin$)(objectClass=inetOrgPerson)(|(memberOf={{ ldap_groups.services }})(memberOf={{ ldap_groups.services_external }})))

teamcity.users.base=ou=users
teamcity.users.filter=(&(objectClass=inetOrgPerson)(|(memberOf={{ ldap_groups.services }})(memberOf={{ ldap_groups.services_external }})))

teamcity.users.username=uid
teamcity.users.property.displayName=cn
teamcity.users.property.email=mail

teamcity.groups.base=ou=groups
teamcity.groups.filter=(objectClass=groupOfNames)

teamcity.groups.property.member=member
